html {
    scroll-behavior: smooth;
  }

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:Roboto,sans-serif;
}
a{
    text-decoration: none;
    font-family:Roboto,sans-serif;
}
p{
    color: #777;
    font-family:Roboto,sans-serif;
    font-size: 13px;
}
.red{
    color:#f44336;
    background:#ef9a9a;
}
.pink{
    color:#e91e63;
    background:#f48fb1;
}
.purple{
    color:#7b1fa2;
    background:#ce93d8;
}
.deep-purple{
    color:#512da8;
    background:#b39ddb;
}
.blue{
    color:#1976d2;
    background:#90caf9;
}
.light-blue{
    color:#b3e5fc;
    background:#039be5;
}
.cyan{
    color:#26c6da;
    background: #b2ebf2;
}
.green{
    color: #43a047;
    background:#c8e6c9;
}
.light-green{
     color: #7cb342;
    background:#c5e1a5;
}
.lime{
    color:#cddc39;
    background: #f0f4c3;
}
.yellow{
    color:#fdd835;
    background: #fff9c4;
}
.orange{
    color:#fb8c00;
    background:#ffe0b2;
}

.sec-title {
	border-left: 5px solid #3CD4A0;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
	font-size: 36px;
	margin-bottom: 30;
}
.sec_sub_title h5{
    font-size: 22px !important;
    font-weight: 600;
}
.sec_sub_title{
	border-left: 5px solid #3CD4A0;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;

}
.action-icon {
	padding: 5px 0;
}
.desc-text{
    color:#777;
    font-size: 13px;
    text-align: justify;
}
ul{
    padding-left: 0;
}
ul li{
    list-style-type: none;
}
.ast-list ul li span {
	padding: 6px 0 6px 23px;
	display: inline-block;
}

.position-relative{
    position: relative !important;
}
.footer-content {
	display: inline-flex;
	width: 100%;
	margin: 0 auto;
	height: 60px;
	text-align: center;
	justify-content: center;
	background: #b8bcc1;
	padding: 10px 0;
	line-height: 60px;
}
.footer-content img {
	width: 40px;
	margin: 0 10px;
}
.footer-content i {
	line-height: 60px;
	margin-right: 10px;
}


/*--------------footer------------------------*/
footer {
    padding: 60px 15px;
    display: flex;
    justify-content: space-around;
    background: #cccfd4;
    color: #444;
    font-family: Roboto;
}
.footer-logo {
	display: flex;
}
li.footer-link.footer-head img {
    width: 40px;
    margin-right: 10px;
}
li.footer-link.footer-head a,
li.footer-link.footer-head {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase !important;
    font-weight: 600;
    line-height: 40px;
    color: #444;
}
.address,
li.footer-link a {
	color: #777575;
	line-height: 25px;
	font-size: 14px;
}
.social-link a{
	color: #777575;
    padding-right: 10px;
	font-size: 20px;
}
.social-link a:hover,
li.footer-link.footer-head a:hover,
li.footer-link.footer-head:hover{
    color:#6200ee;
}
li.footer-link a:hover {
	color:#6200ee;
}
